/* Google font'u yükleyelim */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap");

/* Temel stil ayarları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Arka plan rengi değişiklikleri için geçiş süresi ayarlayalım */
body {
  transition: 0.5s;
}

/* Ana div'i ortalamak için flex kullanalım */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Renk kodunun gösterileceği div'i stilize edelim */
.container {
  width: 35rem;
  padding: 10px;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  background-color: #fdd36a;
}

/* Buton stilini ayarlayalım */
button {
  margin-top: 5px;
  width: 100%;
  font-size: 30px;
  border: none;
  border-radius: 5px;
}

/* Butona hover özelliği ekleyelim */
#btn:hover {
  cursor: pointer;
}
