@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

.container {
  margin: auto;
  text-align: center;
  padding-top: 25%;
  transform: translate(0px, -200px);
}

span {
  font-size: 6em;
}

button {
  font-family: "Inconsolata", monospace;
  padding: 15px;
  border-radius: 25px;
  border-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin: 8px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 16px;
  color: whitesmoke;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    transform: translate(0px, 100px);
  }
}
