body {
  background-color: #482657;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.item {
  width: 150px;
  height: 500px;
  background-color: lightgrey;
  justify-content: center;
  line-height: 400px;
  margin: 10px;
  border-radius: 100px;
}

#button {
  align-items: center;
  margin: auto;
}
.btn {
  text-transform: uppercase;
  background-color: #a17fb0;
  color: lightgrey;
  border: 3px solid #a17fb0;
  border-radius: 75px;
  font-size: 30px;
  padding: 10px 10px;
  margin: 10px;
}

.btn:hover {
  color: #a17fb0;
  background-color: lightgrey;
}

.randomColor {
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.randomColor2 {
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  text-align: center;
  place-items: center;
}

.randomColor3 {
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

.randomColor4 {
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

#button {
  text-align: center;
}
